body {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: url('../images/bookshelf.jpg') no-repeat center center fixed;
  background-size: cover;
}

.index {
  margin:auto auto auto auto;
}

.welcome {
  text-align: center;
  color: #fff;
}

.welcome .slogan {
  font-size: 20px
}

.visitor {
  display: inline-block;
  padding: 10px;
}

.login {
  display: inline-block;
  padding: 10px;
}

.signup {
  display: inline-block;
  padding: 10px;
}

button[name="visitor"] {
  width: 200px;
}

button[name="login"] {
  width: 200px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 2px #111;
  color: #fff;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  text-align: left;
  text-shadow: 0px 0px 2px #111;
  font-weight: normal;
  margin-left: 65px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
  position: relative;
  width: 200px;
  margin-left: 65px;
}

div.container {
  vertical-align: middle;
  margin-top: 50px;
  text-align: center;
}

p.sign-up {
  text-shadow: 0px 0px 1px #111;
  color: #fff;
  font-size: 12px;
}

div#failed {
  text-align: center;
  color: #f00;
  margin-bottom: -30px;
  font-size: 18px;
  font-weight: bold;
}

@media(max-width: 500px) {
/*When the width of brower is less than 500px, resize following elements as such*/
  
}